@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> successful login </h1>
<a asp-action="SDetails" asp-controller="Books"> View Details</a>
<br />
<a asp-action="ChangePassword" asp-controller="Books"> Change Password</a>
<br />
<a asp-action="Logout" asp-controller="Books"> Logout</a>
